{% extends 'admin/base_site.html' %}
{% load static %}

{% block content %}
<h2>Your Files</h2>
<ul>
    {% for file in files %}
    <li>
        {% if file.is_image %}
        <img src="{{ file.file.url }}" alt="{{ file.filename }}" style="max-width: 100px; max-height: 100px;">
        {% else %}
        <img src="{% static 'icons/' %}{{ file.get_file_icon }}" alt="File icon" style="max-width: 50px; max-height: 50px;">
        {% endif %}
        {{ file.filename }} ({{ file.size }} bytes)
        <a href="{% url 'download_file' file.id %}">Download</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'upload_file' %}">Upload a new file</a>
{% endblock %}
